In [1]:
pip install fuzzywuzzy[speedup] pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.3)
Requirement already satisfied: fuzzywuzzy[speedup] in /opt/conda/lib/python3.11/site-packages (0.18.0)
Requirement already satisfied: python-levenshtein>=0.12 in /opt/conda/lib/python3.11/site-packages (from fuzzywuzzy[speedup]) (0.26.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: Levenshtein==0.26.1 in /opt/conda/lib/python3.11/site-packages (from python-levenshtein>=0.12->fuzzywuzzy[speedup]) (0.26.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in /opt/conda/lib/python3.11/site-packages (from Levenshtein==0.26.1->python-levenshtein>=0.12->fuzzywuzzy[speedup]) (3.10.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import requests
import json
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily
import pandas as pd
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time
import folium
from folium import Marker
from folium.plugins import HeatMap
from fuzzywuzzy import process

In [3]:
# Column names for data
uni_data = pd.DataFrame(columns=['University Name','In State Tuition','Out of State Tuition','Admission Rate','Number of Students','Graduation Rate 4-years',
                                'Earnings After 10 Years','Retention Rate','Diversity Score','Public or Private'])

# List of university to scrape
university_list = ['Princeton University','Massachusetts Institute of Technology','Harvard University','Stanford University','Yale University',
                   'California Institute of Technology','Duke University','Johns Hopkins University','Northwestern University',
                   'University of Pennsylvania','Cornell University','University of Chicago','Brown University','Columbia University',
                   'Dartmouth College','University of California-Los Angeles','University of California-Berkeley','Rice University','University of Notre Dame','Vanderbilt University', 'Carnegie Mellon University',
                  'University of Michigan','Washington University','Emory University',"Georgetown University","University of Virginia",
                   "University of North Carolina-Chapel Hill", "University of Southern California","University of California-San Diego",
                   "New York University","University of Florida","University of Texas-Austin","Georgia Institute of Technology",
                   "University of California-Davis","University of California-Irvine","University of Illinois-Urbana-Champaign","Boston College",
                   "Tufts University","University of California-Santa Barbara","University of Wisconsin-Madison","Boston University",
                   "Ohio State University","Rutgers University","University of Maryland","University of Rochester",
                   "Lehigh University","Purdue University","University of Georgia","University of Washington","Wake Forest University"]

# Loops through list of universities
for university in university_list:
    # Obtains the data from the API
    url = "https://api.data.gov/ed/collegescorecard/v1/schools?api_key=OvEQIo28yxxsUWagGnOrXt9vuxU1WbanzSm1V8Dp&school.name="+university+"&fields=id,school.name,latest.cost.tuition.in_state,latest.cost.tuition.out_of_state,latest.admissions.admission_rate.overall,latest.student.size,latest.completion.rate_suppressed.four_year,latest.earnings.10_yrs_after_entry.median,latest.student.retention_rate.overall.full_time,latest.school.peps_ownership,latest.student.demographics.race_ethnicity.asian,latest.student.demographics.race_ethnicity.black,latest.student.demographics.race_ethnicity.white"
    response = requests.get(url)
    data = response.json()

    # Gets each metric from the data dictionary 
    in_state_tuition = data['results'][0]['latest.cost.tuition.in_state']
    out_of_state_tuition = data['results'][0]['latest.cost.tuition.out_of_state']
    admission_rate = data['results'][0]['latest.admissions.admission_rate.overall']
    student_size = data['results'][0]['latest.student.size']
    completion_rate = data['results'][0]['latest.completion.rate_suppressed.four_year']
    earning_10year = data['results'][0]['latest.earnings.10_yrs_after_entry.median']
    retention_rate = data['results'][0]['latest.student.retention_rate.overall.full_time']
    ownership = data['results'][0]['latest.school.peps_ownership']
    prop_white = data['results'][0]['latest.student.demographics.race_ethnicity.white']
    prop_black = data['results'][0]['latest.student.demographics.race_ethnicity.black']
    prop_asian = data['results'][0]['latest.student.demographics.race_ethnicity.asian']

    # Calculates the diversity score from the ethic demographics
    if all(p is not None for p in [prop_white, prop_black, prop_asian]):
        prop_other = 1-prop_white-prop_black-prop_asian
        proportions = [prop_white,prop_black,prop_asian,prop_other]
        diversity_score = 1 - sum(p**2 for p in proportions)
    else:
        diversity_score = None

    # Adds the collected data from the API for the university to the dataframe
    uni_data.loc[len(uni_data)] = {'University Name': university, 'In State Tuition': in_state_tuition, 'Out of State Tuition': out_of_state_tuition, 
                                   'Admission Rate': admission_rate, 'Number of Students': student_size,'Graduation Rate 4-years': completion_rate,
                                  'Earnings After 10 Years': earning_10year,'Retention Rate': retention_rate, 'Diversity Score': diversity_score,
                                   'Public or Private': ownership}

FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

In [4]:
# Inputs missing data for cornell university
uni_data.loc[10, 'Admission Rate'] = 0.079
uni_data.loc[10, 'Number of Students'] = 16071
uni_data.loc[10, 'In State Tuition'] = 63200
uni_data.loc[10, 'Out of State Tuition'] = 63200
uni_data.loc[10, 'Retention Rate'] = 0.96
1-0.385-0.077-0.363
proportions = [0.303,0.0588,0.179,1-0.303-0.0588-0.179]
diversity_score = 1 - sum(p**2 for p in proportions)
uni_data.loc[10, 'Diversity Score'] = diversity_score
# Inputs missing data for California Institute of Technology
uni_data.loc[5, 'Admission Rate'] = 0.027
# Inputs missing data for Boston College
uni_data.loc[36, 'Admission Rate'] = 0.167
# Inputs missing data for Ohio State University
uni_data.loc[41, 'Admission Rate'] = 0.027

In [5]:
# Displays data
uni_data.head(50)

,University Name,In State Tuition,Out of State Tuition,Admission Rate,Number of Students,Graduation Rate 4-years,Earnings After 10 Years,Retention Rate,Diversity Score,Public or Private
0,Princeton University,57410,57410,0.0570,5527,0.9744,110066,0.9705,0.701479,Private Nonprofit
1,Massachusetts Institute of Technology,57986,57986,0.0396,4638,0.9557,143372,0.9898,0.699191,Private Nonprofit
2,Harvard University,57261,57261,0.0324,7973,0.9726,101817,0.9769,0.703174,Private Nonprofit
3,Stanford University,58416,58416,0.0368,7761,0.9534,124080,0.9831,0.694972,Private Nonprofit
4,Yale University,62250,62250,0.0457,6639,0.9736,100533,0.9810,0.702715,Private Nonprofit
5,California Institute of Technology,19190,19190,0.0270,540,0.7828,53598,0.9474,0.483280,Proprietary
6,Duke University,62688,62688,0.0635,6570,0.9625,97800,0.9685,0.700444,Private Nonprofit
7,Johns Hopkins University,60480,60480,0.0725,5643,0.9433,87555,0.9695,0.688898,Private Nonprofit
8,Northwestern University,8672,19460,0.9793,6243,0.4528,47021,0.6115,0.600800,Public
9,University of Pennsylvania,63452,63452,0.0650,10572,0.9615,111371,0.9837,0.709739,Private Nonprofit
10,Cornell University,63200,63200,0.0790,16071,NaN,104043,0.9600,0.661828,Private Nonprofit
11,University of Chicago,14046,28654,0.7869,21567,0.6195,68740,0.7832,0.665014,Public
12,Brown University,29720,29720,0.5664,1354,0.7078,53907,0.8445,0.431634,Private Nonprofit
13,Columbia University,66139,66139,0.0395,8902,0.9528,102491,0.9792,0.679876,Private Nonprofit
14,Dartmouth College,62658,62658,0.0638,4412,0.9448,97434,0.9803,0.644170,Private Nonprofit
15,University of California-Los Angeles,6805,18685,0.8694,22690,0.5166,59211,0.7348,0.335057,Public
16,University of California-Berkeley,14395,44467,0.1133,32475,0.9346,92446,0.9588,0.654043,Public
17,Rice University,54960,54960,0.0868,4480,0.9299,89718,0.9810,0.708928,Private Nonprofit
18,University of Notre Dame,60301,60301,0.1291,8917,0.9612,99980,0.9738,0.518160,Private Nonprofit
19,Vanderbilt University,60348,60348,0.0667,7144,0.9308,91565,0.9643,0.694480,Private Nonprofit
20,Carnegie Mellon University,61344,61344,0.1130,7005,0.9214,114862,0.9730,0.673670,Private Nonprofit
21,University of Michigan,16736,55334,0.1769,32448,0.9340,83648,0.9721,0.632797,Public
22,Washington University,8967,26873,0.9269,13686,0.6650,62569,0.7736,0.468993,Public
23,Emory University,57948,57948,0.1135,7017,0.9002,80137,0.9521,0.706744,Private Nonprofit
24,Georgetown University,62052,62052,0.1223,7343,0.9541,103494,0.9658,0.632342,Private Nonprofit
25,University of Virginia,20342,55914,0.1866,17103,0.9446,86863,0.9694,0.637681,Public
26,University of North Carolina-Chapel Hill,8989,37550,0.1711,19921,0.9161,72200,0.9598,0.620395,Public
27,University of Southern California,38700,38700,0.7484,2001,0.6044,59541,0.7227,0.548857,Private Nonprofit
28,University of California-San Diego,14906,44978,0.2371,33092,0.8851,84943,0.9339,0.639903,Public
29,New York University,8524,18434,0.5827,5990,0.7327,58073,0.8416,0.557727,Public
30,University of Florida,5656,18786,0.2504,32691,0.8402,61675,0.9393,0.559907,Public
31,University of Texas-Austin,11698,41070,0.3135,40980,0.8777,75121,0.9530,0.684622,Public
32,Georgia Institute of Technology,11764,32876,0.1713,17379,0.9225,102772,0.9786,0.700213,Public
33,University of California-Davis,14858,44930,0.3734,31512,0.8663,80838,0.9190,0.646977,Public
34,University of California-Irvine,13939,44011,0.2115,28651,0.8523,80735,0.9127,0.618169,Public
35,University of Illinois-Urbana-Champaign,15714,33686,0.4482,34031,0.8479,81054,0.9332,0.686578,Public
36,Boston College,22144,22144,0.1670,259,0.4545,62123,0.8235,0.597781,Private Nonprofit
37,Tufts University,65222,65222,0.0969,6747,0.9376,83214,0.9605,0.659435,Private Nonprofit
38,University of California-Santa Barbara,14617,44689,0.2585,23419,0.8553,74915,0.9236,0.634496,Public
39,University of Wisconsin-Madison,10796,39427,0.4906,35184,0.8921,73792,0.9433,0.534317,Public
40,Boston University,62360,62360,0.1437,17668,0.8916,83238,0.9397,0.671706,Private Nonprofit
41,Ohio State University,8998,33235,0.0270,421,NaN,60409,0.5149,0.129708,Public
42,Rutgers University,16112,33812,0.7652,4077,0.6716,74479,0.7856,0.710127,Public
43,University of Maryland,53430,53430,0.8348,3968,0.7956,82652,0.8458,0.516167,Private Nonprofit
44,University of Rochester,26736,26736,0.7137,848,0.4016,48707,0.6090,0.558933,Private Nonprofit
45,Lehigh University,59930,59930,0.3698,5612,0.8926,105584,0.9085,0.567735,Private Nonprofit
46,Purdue University,8985,21573,0.8066,5482,0.3701,45872,0.6272,0.455198,Public
47,University of Georgia,4980,15702,0.7318,2092,0.3522,48757,0.5973,0.585268,Public
48,University of Washington,8967,26873,0.9269,13686,0.6650,62569,0.7736,0.468993,Public
49,Wake Forest University,62128,62128,0.2137,5446,0.8994,78158,0.9376,0.503522,Private Nonprofit

In [ ]:
# Uploads data to csv
uni_data.to_csv("scorecard_data", index=False)